<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjhs.hstx.biz.business.dao.ProductInfoMapper">

    <resultMap id="BaseResultMap" type="com.zjhs.hstx.biz.business.bean.ProductInfo">
        <id column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="t_id" property="tId" jdbcType="INTEGER"/>
        <result column="p_img" property="pImg" jdbcType="VARCHAR"/>
        <result column="p_name" property="pName" jdbcType="VARCHAR"/>
        <result column="p_money" property="pMoney" jdbcType="NUMERIC"/>
        <result column="p_depict" property="pDepict" jdbcType="VARCHAR"/>
        <result column="p_num" property="pNum" jdbcType="INTEGER"/>
        <result column="put_away" property="putAway" jdbcType="BOOLEAN"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        p_id, t_id, p_img, p_name, p_money, p_depict,
        p_num, put_away, create_time, update_time
    </sql>

    <select id="getAllPro" resultMap="BaseResultMap">
        select
        info.p_id,info.p_img,info.p_name,type.t_name,info.p_money,info.p_depict,info.p_num,info.put_away
        from product_info as info LEFT join
        product_type as type
        ON
  	info.t_id=type.t_id;
  </select>

    <select id="getProByName" resultMap="BaseResultMap">
        SELECT * FROM product_info WHERE p_name LIKE "%"#{pName jdbcType=VARCHAR}"%";
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from product_info
        where p_id = #{pId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from product_info
        where p_id = #{pId,jdbcType=INTEGER}
    </delete>

   <update id="updateByPrimaryKey" parameterType="com.zjhs.hstx.biz.business.bean.ProductInfo">
    update product_info
    set t_id = #{tId,jdbcType=INTEGER},
      p_img = #{pImg,jdbcType=LONGVARBINARY},
      p_name = #{pName,jdbcType=VARCHAR},
      p_money = #{pMoney,jdbcType=NUMERIC},
      p_depict = #{pDepict,jdbcType=VARCHAR},
      p_num = #{pNum,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>

  <update id="updatePutAwayByPid" parameterType="java.lang.Integer">
    update product_info SET put_away=#{arg1,jdbcType=INTEGER} where p_id=#{arg0,jdbcType=INTEGER};
  </update>

</mapper>
